.chartContainer {
  width: 280px;
  height: auto;
  padding-top: 32px;
  margin: 0 auto;
  border-radius: 30px;
  @media screen and (min-width: 768px) {
    width: 704px;
  }
  @media screen and (min-width: 1280px) {
    width: 1034px;
  }
}

.CategoriesWrapper {
  border-radius: 30px;
  background-color: var(--bg-white-color);

  @media screen and (min-width: 768px) {
    width: 704px;
  }
  @media screen and (min-width: 1280px) {
    width: 1034px;
  }
}

.LinkIncome {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  transition: 0.25s ease-in-out;
  @media screen and (min-width: 768px) {
    padding: 20px 0 0 0;
  }
}
.LinkIncome:hover {
  gap: 20px;
}
.Title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
  text-align: center;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}
.CategoriesList {
  width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: first baseline;
  row-gap: 20px;
  padding: 20px 0 0 0;
  background-color: var(--bg-white-color);
  border-radius: 30px;

  // border-bottom: 1px solid var(--line-bg-color);
  @media screen and (min-width: 768px) {
    border-bottom: 0;
    padding: 20px 3px;
    width: auto;
  }
  @media screen and (min-width: 1280px) {
    padding: 20px 170px;
  }
}

.CategoriesListItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.CategoriesListItem p {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

.CategoriesListIcon {
  width: 56px;
  height: 56px;
}
.LineBottom {
  border-bottom: 1px solid var(--line-bg-color);
  width: 280px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
// style for icons

.CategoriesListItem:hover .CategoriesListIcon path,
.CategoriesListItem:active .CategoriesListIcon path {
  fill: var(--active-product-category-img);
  transform: scale(1.03);
}
.CategoriesListItem:hover .CategoriesListIcon rect,
.CategoriesListItem:active .CategoriesListIcon rect {
  fill: var(--active-product-category-bg);
}
.CategoriesListIcon path,
.CategoriesListIcon rect {
  transition: 0.25s ease-in-out;
}