* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-family: var(--primary-font-style);
  color: var(--textColor);
}
h3 {
  font-size: 12px;
  letter-spacing: 0.2px;
  font-weight: 500;
  color: var(--text-color-primary);
}
.ReportsPageContainer {
  width: 320px;
  height: auto;
  margin: 56px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 20px 52px 20px;

  @media screen and (min-width: 768px) {
    min-width: 768px;
  }
  @media screen and (min-width: 1280px) {
    min-width: 1280px;
  }
}
.ReportsBalanceWrapper {
  width: auto;
  position: relative;
  z-index: 0;
}
.ReportsBalanceWrapperTabletDesk {
  @media screen and (min-width: 768px) {
    width: 704px;
    display: flex;
    justify-content: space-between;
  }
  @media screen and (min-width: 1280px) {
    width: 1034px;
  }
}
.DateBalanceWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 130px;
  }
  @media screen and (min-width: 1280px) {
    gap: 250px;
  }
}
.ArrowBack {
  position: absolute;
  top: 16px;
  left: 20px;
  @media screen and (min-width: 768px) {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.ArrowBackDesk {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    font-size: 12px;
    font-weight: 400;
    color: var(--text-color-primary);
    width: 80px;
    text-align: right;
  }
}

.DateSelectWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-top: 56px;
  @media screen and (min-width: 768px) {
    padding-top: 0px;
  }
}
.DateSelect h2 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
}

.DateSelect {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}
.BalanceWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-bottom: 32px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    padding-bottom: 0px;
  }
}
.Balance {
  border: 2px solid var(--bg-white-color);
  border-radius: 22px;
  padding: 15px 10px;
  min-width: 183px;
  @media screen and (min-width: 768px) {
    min-width: 125px;
  }
}
.Balance span {
  width: 124px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.BalanceConfirmWrapperDesk {
  display: flex;
  align-items: center;
  gap: 16px;
}
.ConfirmWrapper {
  display: none;
  border: 2px solid var(--bg-white-color);
  border-radius: 22px;
  padding: 17px 30px;
  @media screen and (min-width: 1280px) {
    display: block;
  }
}
.ConfirmWrapper h3 {
  text-transform: uppercase;
}

.BalanceSummaryWrapper {
  min-width: 280px;
  height: auto;
  border: 1px solid var--(line-bg-color);
  border-radius: 20px;
  padding: 5px 10px;
  box-shadow: 5px 10px 20px 0px var(--box-shadow-color);
  margin-bottom: 32px;
  background-color: var(--bg-white-color);
  @media screen and (min-width: 768px) {
    margin: 32px auto;
    width: 704px;
    padding: 7px 0px;
  }
  @media screen and (min-width: 1280px) {
    width: 1034px;
  }
}
.BalanceSummaryList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
  @media screen and (min-width: 768px) {
    justify-content: center;
    gap: 20px;
  }
}
.BalanceSummaryListItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }
}
.BalanceSummaryListItem {
  font-size: 14px;
  font-weight: 700;
  color: var(--text-color-secondary);
}
.BalanceSummaryListItem p {
  color: var(--text-color-secondary);
}
.BalanceSummaryExpenses span {
  color: var(--expenses-text-color);
}
.BalanceSummaryIncome span {
  color: var(--profits-text-color);
}
.BalanceSummaryIncomeMinus span {
  color: var(--expenses-text-color);
}
.LineVertical {  
  padding: 7px 1px;
  background-color: var(--line-bg-color);
  border-radius: 1px;
}
.BalanceSummaryExpenses > span.Currency,
.BalanceSummaryIncome > span.Currency,
.BalanceSummaryIncomeMinus > span.Currency {
  inherits: initial;
  text-transform: uppercase;
  color: var(--textColor);
}
.ExpensesWrapper {
  @media screen and (min-width: 768px) {
    width: 704px;
    border-radius: 30px;
    background-color: var(--bg-white-color);
    padding: 20px 0 0 0;
  }
  @media screen and (min-width: 1280px) {
    width: 1034px;
  }
}
.ExpensesTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.ExpensesTitle h2 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
  text-align: center;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}

.CategoriesList {
  width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: first baseline;
  row-gap: 40px;
  padding: 20px 0px;
  border-bottom: 1px solid var(--line-bg-color);
  @media screen and (min-width: 768px) {
    border-bottom: 0;
    padding: 20px 3px;
    width: auto;
  }
  @media screen and (min-width: 1280px) {
    padding: 20px 170px;
  }
}

.CategoriesListItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100px;
}
.CategoriesListItem p {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

.CategoriesListIcon {
  width: 56px;
  height: 56px;
}

/* #FF751D
#FFDAC0 */
