.chartContainer {
  width: 280px;
  height: auto;
  // padding-top: 32px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: 704px;
  }
  @media screen and (min-width: 1280px) {
    width: 1034px;
  }
}

h2 {
  // display: none;
  cursor: pointer;
}

// .chartTitle {
//   font-size: 20px;
//   text-align: center;
//   margin-bottom: 20px;
// }

// .legend {
//   list-style: none;
//   padding: 0;
// }

// .legendItem {
//   display: inline-block;
//   margin-right: 20px;
// }

// .legendColor {
//   width: 20px;
//   height: 20px;
//   display: inline-block;
//   margin-right: 5px;
// }
*

.CategoriesList {
  width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: first baseline;
  row-gap: 20px;
  padding: 20px 0px;
  background-color: var(--bg-white-color);

  // border-bottom: 1px solid var(--line-bg-color);
  @media screen and (min-width: 768px) {
    border-bottom: 0;
    padding: 20px 3px;
    width: auto;
  }
  @media screen and (min-width: 1280px) {
    padding: 20px 170px;
  }
}

.CategoriesListItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.CategoriesListItem p {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

.CategoriesListIcon {
  width: 56px;
  height: 56px;
}
.LineBottom {
  border-bottom: 1px solid var(--line-bg-color);
  width: 280px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
// style for icons

.CategoriesListItem:hover .CategoriesListIcon path,
.CategoriesListItem:active .CategoriesListIcon path {
  fill: var(--active-product-category-img);
  transform: scale(1.03);
}
.CategoriesListItem:hover .CategoriesListIcon rect,
.CategoriesListItem:active .CategoriesListIcon rect {
  fill: var(--active-product-category-bg);
}
.CategoriesListIcon path,
.CategoriesListIcon rect {
  transition: 0.25s ease-in-out;
}
