* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-family: var(--primary-font-style);
  color: var(--textColor);
}

.ReportsPageContainer {
  width: 320px;
  height: auto;
  margin: 65px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    min-width: 768px;
    margin: 0px auto;
  }
  @media screen and (min-width: 1280px) {
    min-width: 1280px;
  }
}
