* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-family: var(--primary-font-style);
  color: var(--textColor);
}
h3 {
  font-size: 12px;
  letter-spacing: 0.2px;
  font-weight: 500;
  color: var(--text-color-primary);
}
.ReportsPageContainer {
  width: 320px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    min-width: 768px;
  }
  @media screen and (min-width: 1280px) {
    min-width: 1280px;
  }
}
.ReportsBalanceWrapper {
  width: auto;
  position: relative;
  z-index: 0;
}
.ReportsBalanceWrapperTabletDesk {
  @media screen and (min-width: 768px) {
    width: 704px;
    display: flex;
    justify-content: center;
  }
  @media screen and (min-width: 1280px) {
    width: 1034px;
  }
}
.BalanceWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-bottom: 32px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    padding-bottom: 0px;
  }
}
.Balance {
  border: 2px solid var(--bg-white-color);
  border-radius: 22px;
  padding: 15px 10px;
  min-width: 183px;
  @media screen and (min-width: 768px) {
    min-width: 125px;
  }
}
.Balance span {
  width: 124px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.BalanceConfirmWrapperDesk {
  display: flex;
  align-items: center;
  gap: 16px;
}
.ConfirmWrapper {
  display: none;
  border: 2px solid var(--bg-white-color);
  border-radius: 22px;
  padding: 17px 30px;
  @media screen and (min-width: 1280px) {
    display: block;
  }
}
.ConfirmWrapper h3 {
  text-transform: uppercase;
}

.BalanceCurrency,
.BalanceSummaryExpenses > span.Currency,
.BalanceSummaryIncome > span.Currency,
.BalanceSummaryIncomeMinus > span.Currency {
  inherits: initial;
  text-transform: uppercase;
  color: var(--textColor);
  padding-left: 5px;
}
