.form {
    position: absolute;
    top: 15vh;
    left: 51vw;
    display: flex;
    text-align: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    flex-direction: column;
    border-radius: 30px;
    padding: 56px 84px;
    box-shadow: 0px 10px 60px 0px rgba(170, 178, 197, 0.2);
}

.form__form {
    row-gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__advice {
    color: rgba(82, 85, 95, 1);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: left;
    max-width: 259px;
    margin-bottom: 20px;
}

.form__googleButton {
    display: flex;
    column-gap: 9.5px;
    align-items: center;
    border: none;
    padding: 10px 19px;
    border-radius: 26px;
    cursor: pointer;
    margin-bottom: 32px;
    box-shadow: 1px 2px 3px 0px rgba(170, 178, 197, 0.2);
}

.form__googleText {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.17;
}

.form__label {
    color: rgba(0, 0, 0, 1);
    font-size: 12px;
    letter-spacing: 0.04em;
    align-self: flex-start;
    margin-bottom: 12px;
}

.form__input {
    padding: 17px 0 17px 20px;
    font-size: 14px;
    letter-spacing: 0.04em;
    text-align: left;
    color: rgba(166, 171, 185, 1);
    min-width: 259px;
    border-radius: 30px;
    border: none;
    margin-bottom: 32px;
    background-color: #f6f7fb;
}

.form__buttons {
    display: flex;
    column-gap: 15px;
}

.form__button {
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    color: #52555f;
    letter-spacing: 0.02em;
    align-items: center;
    border: none;
    border-radius: 16px;
    padding: 12px 34px;
    background-color: #f5f6fb;
    box-shadow: 1px 3px 5px 0px rgba(82, 85, 95, 0.15);
}

.form__button:hover,
.form__button:focus {
    color: #ffffff;
    background-color: #ff751d;
    box-shadow: rgba(255, 107, 8, 0.35) 1px 3px 5px 0px;
}

