@import-normalize; /* bring in normalize.css styles */
@import './styles/vars.css';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.167;
  background-image: url('./images/mobile/mobile-bg.png');
  background-size: 100vw 352px;
  background-position: center top;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    background-image: url('./images/tablet/tablet-bg.png');
    background-size: 100vw 583px;

    @media screen and (min-width: 1280px) {
      background-image: url('./images/desktop/desktop-bg.png');
      background-size: 100vw 583px;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
}

a {
  text-decoration: auto;
  color: inherit;
}

input,
button,
textarea,
select,
a {
  font: inherit;
  letter-spacing: inherit;
}

p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

input {
  outline: none;
  border: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 480px) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1160px;
  }
}
.delete-icon {
  justify-content: center;
  align-items: center;
  margin-right: 27px;
}

.blueModal {
  overflow: hidden;
}
